body {
	text-align: center;
}
#container {
	color: #003399;
	background-color: #666666;
	width: 760px;
	border: 2px solid #336633;
	margin: auto;
}
#header {
	color: #669966;
	background-color: #FF9999;
	height: 100px;
	background-image: url(images/header01.jpg);
}
#header_left {
	float: left;
	height: 100px;
	width: 410px;
}
#header_qc {
	float: right;
	height: 70px;
	width: 350px;
}
#homnay {
	color: #990033;
	float: right;
	height: 30px;
	width: 350px;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	padding-top: 5px;
}
#menu {
	color: #333366;
	background-color: #009999;
	height: 30px;
}
#main {
	background-color: #666666;
}
#footer {
	color: #336699;
	background-color: #0185DA;
	height: 80px;
	clear: both;
	font-size: 18px;
	background-image: url(images/footer_bg.gif);
}
#formtimkiem {
	border: 2px inset #997225;
	background-color: #999933;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#formtimkiem #tim {
	width: 130px;
	border: 1px solid #99CC00;
	background-color: #CC6699;
	text-align: center;
}
#leftmain {
	color: #99FF33;
	float: left;
	width: 150px;
}
#rightmain {
	float: right;
	width: 150px;
}
#content {
	color: #FFFF66;
	background-color: #999999;
	margin-right: 150px;
	margin-left: 150px;
}
#binhchon {
	background-color: #CCCCCC;
	color: #99FF33;
	text-align: left;
	border: 2px inset #664C19;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 20px;
}
.tieudebox {
	font-size: 16px;
	font-weight: bold;
	color: #FF0996;
	background-color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: -5px;
	margin-bottom: 0px;
	margin-left: -5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#quangcao {
	border: 2px ridge #999933;
	background-color: #FF00CC;
}


#dangnhap {
	background-color: #ECE9D8;
	color: #FF0E99;
	margin: 0px;
	border: 2px ridge #CC9933;
}
#dangnhap  .txt {
	height: 22px;
	width: 90%;
	background-color: #CC6699;
	border: 1px solid #99CC00;
	text-align: center;
}
#thongbao {
	height: 25px;
	background-color: #CCCCCC;
}
#thongbao_left {
	float: left;
	width: 100px;
}
#thongbao_right {
	float: right;
	width: 350px;
}
#tin4 {
	background-color: #006699;
}

#tin3 {
	background-color: #993300;
}
#tin2 {
	background-color: #FF9900;
}
#tin1 {
	background-color: #CCCC66;
}
#listtin {
	text-align: left;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #49732E;
	margin-top: 15px;
}



.tenloaitin {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #0064B2;
	padding-left: 5px;
}

#listtin td {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #49732E;
	border-left-color: #49732E;
	padding-top: 3px;
	padding-bottom: 3px;
}
#listtin a {
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 20px;
}
#listtin a:hover {
	color: #993300;
	text-decoration: underline;
	font-weight: bold;
}
